body {
    margin: 0;
    background-color: rgb(100, 0, 0);
}

div.header {
    width: initial;
    height: 125px;
    /* border: 2px solid yellow; */
    background-color: rgba(255, 255, 255, 0.815);
    position: relative;
}

div.logo {
    width: 200px;
    height: 100px;
    /* border: 2px solid yellow; */
    background-color: yellow;
    margin: 10px;
    /* left: 40%; */
    position: absolute;
    display: flex;
    border-radius: 50px;
    overflow: hidden;
}

div.nav {
    position: absolute;
    right: 0px;
    height: 100px;
    width: 500px;
    margin: 10px;
    display: flex;
    border: 1px solid white;
}

div.nav div.separator {
    height: 100px;
    width: 0px;
    border-left: 1px solid white;
}

div.nav div.a {
    height: 100px;
    width: 100px;
    display: flex;
    line-height: 100px;
    border: 2px solide red;
}

div.nav div.a:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

div.nav div a {
    text-decoration: none;
    line-height: 1;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px gray;
    /* line-height: 100px; */
}

div.logo img {
    height: 100px;
    width: 100px;
}

div.body {
    margin: auto;
    width: 1100px;
    height: 1100px;
    /* border: 5px solid green; */
    position: relative;
    /* background-color: rgba(255, 255, 255, 0.815); */
}

div.body div.news {
    margin-top: 25px;
    height: 400px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.815);
    position: absolute;
    /* border: 1px solid black; */
}

div.news img {
    height: 200px;
    width: 300px;
}

div.news p {
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

p span.bolder_red {
    font-weight: bolder;
    color: red;
    font-size: 35px;
    text-decoration: underline;
}

div.news a {
    text-decoration: none;
    color: unset;
}

div.news:hover {
    box-shadow: 4px 4px rgba(128, 128, 128, 0.548);
}